[2015-02-14 17:34] cdlm opened #1 "Définir les éléments principaux du projet"
Faites un cahier des charges rapide dans le fichier README:
- une idée du type de jeu
- les éléments principaux (avatar, obstacles, niveaux…)
- les interactions entre ces éléments

[2015-02-16 16:32] caronpe opened #2 "Choix outil de création UML"
Création de l'UML du programme Labyrinth Grace à l'outils colaboratif Cacoo

[2015-02-16 16:35] caronpe opened #3 "Ajout du code Labyrinth "de base" au repository"
Attention le code doit être propre et contenir le minimum de bug possible

[2015-02-16 16:38] caronpe opened #4 "Mise en place d'une base de fenêtre graphique utilisant Slick2D"
La plus basique possible. Si possible déja créer la répartition MVC.

[2015-02-16 16:56] caronpe commented on #2
L'outil est à tester, je sais pas si c'est le meilleur choix! (mais bon je sais pas si c'est ma vieille version de firefox qui me bloque ou si la gestion des Attributs est buggé)

[2015-02-16 17:20] cdlm commented on #2
Au besoin, je sais que des collègues utilisent https://genmymodel.com

[2015-02-16 19:01] florentvitse commented on #2
Je viens de créer un diagramme sur ce site et je vous ai ajouter (PE & Étienne) via un mail sur le site de l'école.
Pour vous inscrire, il existe un couplage avec GitHub justement :)

[2015-02-17 19:44] #4 closed, assigned to nobody

[2015-02-18 12:57] florentvitse opened #7 "Gestion des Collisions"
J'ai essayer de gérer les collisions, ça marche dans l'ensemble sauf quand le personnage se situe entre deux carrées qui constituent la map.

Je m'explique :
Le déplacement étant un flottant, les cases sont dans un tableau d'entier, si je suis entre deux cases et que je veux aller à gauche par exemple et que la case obstacle est celle du dessous, comme je compare avec la case qui correspond à mon

[2015-02-18 12:59] florentvitse commented on #7
Est-ce que quelqu'un voit comment :

1 - Soit animer le mouvement durant x temps pour qu'il arrive à une autre casse avec des coordonnées entières.
2 - Fixer ce bug sans avoir un algorithme phénoménale.

[2015-02-18 17:38] cdlm commented on #7
N'est-il pas possible dans un premier temps de gérer les déplacements au case-par-case, ou est-ce que c'est important pour les règles que le placement du personnage soit géré finement ? Je parle bien du placement vis-à-vis des règles, pas de l'animation du sprite. Dans un cas on considère que le personnage occupe une certaine surface, on a besoin de savoir sa distance à un ennemi ou obstacle. Dans

[2015-02-18 17:50] florentvitse commented on #7
C'est la deuxième méthode que je veux faire fonctionner ! Qu'il se déplace case par case enfaite avec l'animation fluide.
Pour gérer les collisions, je calcule juste la case d'après et si c'est un obstacle, j'arrête le mouvement.

[2015-02-18 18:12] cdlm commented on #7
Donc en fait, ce qu'il se passe, c'est que l'utilisateur a donné un nouvel ordre de déplacement alors que l'animation d'un déplacement précédent n'est pas finie.

Solution 0 : mettre fin abruptement à l'animation en cours, commencer directement la suivante à partir de la case où le personnage aurait dû arriver (moche mais réactif)
Solution 1 : mémoriser les ordres, les exécuter au rythme de l'anim

[2015-02-19 08:31] ET-AD opened #10 "UML et programmation via JUNIT"
Il me semble que l'on avait parlé de programmation via tests unitaires à la première séance. Il y a aussi l'UML qui semble avoir été oubliée...

Peut être devrait on prendre le temps de revenir sur ces deux points qui sont surement pris en compte dans la note finale.

[2015-02-19 08:49] florentvitse commented on #10
Oui c'est sur, pour l'UML, le prof avait donné un lien ou je me suis inscris, vous avez du recevoir un mail (telecom) pour inscrire aussi (couplage GitHub) où on partage un même UML.
Pour les tests unitaires, je vais essayer de voir ça.

[2015-02-20 13:09] e-adriansen commented on #2
Exception in thread "main" java.lang.RuntimeException: Resource not found: testdata/alphamap.png

J'ai de nouveau cette erreur à l’exécution deWindowGame.java, pourtant je n'ai changé depuis le cours d'hier.

Fri Feb 20 14:06:43 CET 2015 INFO:Slick Build #237
Fri Feb 20 14:06:43 CET 2015 INFO:LWJGL Version: 2.9.2
Fri Feb 20 14:06:43 CET 2015 INFO:OriginalDisplayMode: 1280 x 1024 x 32 @60Hz
Fri Feb

[2015-02-20 14:03] #2 closed, assigned to nobody

[2015-02-20 14:21] ET-AD commented on #10
J'ai essayé de faire l'UML, où tout du moins une partie (genmymodel est très limité ou je m'y prends mal), partir de ce qui a été dit au télégroupe n°1 d'hier.

Je propose :
Une fois d'accord sur la partie d'UML, la codée (au moins la structure) puis effacer et renouveler l'opération pour une autre partie.

Donnez votre avis sur l'UML déjà en place et sur la manière de poursuivre.

lien : https://

[2015-02-20 16:08] caronpe commented on #10
![version model1](https://cloud.githubusercontent.com/assets/6138028/6289802/fcaa90ce-b922-11e4-9d78-b8f882141afb.jpg)
Voici ta version de l'UML Etienne, je l'upload ici avant de le modifier (on pourra séléctionner le meilleur ensuite)

[2015-02-20 16:37] caronpe commented on #10
Voici ma version (finalement peu de différence...). Le logiciel limite à 20 le nombre d'élement donc c'est trés incomplet! Il faut donc imaginer un lien aggregate de Mobile et Case vers KickGame. De plus j'ai supprimé herbe parceque si j'ai bien compris le code c'est juste une couche graphique posée dessus (pas de vrai existance et de rôle particulier).
![version model1](https://cloud.githubuserco

[2015-02-20 16:39] caronpe commented on #10
Le coeur du programme sera dans KickGame (gestion des personnages, pv, déplacements,...)

[2015-02-23 07:59] #7 closed, assigned to nobody

[2015-02-23 10:33] florentvitse commented on #10
Pour les obstacles, la carte est enfaite composée de couches dont on affiche ou pas celles-ci.
Par exemple, pour la couche de collision, on ne l'affiche pas et à chaque déplacement, on vérifie si les coordonnées futures sont un carré de collision.
Pour les obstacles franchissables, tel une entrée de grotte, on peux penser à faire la même chose avec une nouvelle couche mais là on vérifiera les coor

[2015-02-23 10:43] ET-AD opened #11 "Modèle MVC ?"
Sur ce projet, est-il nécessaire de développer avec un pattern MVC ?

[2015-02-23 10:44] florentvitse commented on #11
Le M c'est nos classes et VC C'est la partie graphique.

[2015-02-23 10:47] ET-AD commented on #11
VC est géré en grande partie par Slick2D en fait.

[2015-02-23 10:51] florentvitse commented on #11
Oui, c'est Slick2D qui gère les événements et la méthode update() aussi par exemple.
Nos modèles (classes) sont le M de MVC ici.

[2015-02-23 11:01] ET-AD commented on #11
Je ne suis pas sur que l'on respecte complètement le pattern MVC.

Toutefois avec Slick2D je pense qu'il vaut mieux continuer comme ça.

Difficile d'avoir une vision globale avec ce nouvel outil.

[2015-02-23 15:30] caronpe commented on #11
Je pense qu'on doit rester sur ce concept. Une fois la partie client-serveur de l'autre groupe codé on mettra la partie Model coté serveur et controleur view coté client.

[2015-02-23 15:32] caronpe opened #12 "zones franchissables"
Effectuer un changement de zone lors du passage sur une zone franchissage (porte)

[2015-02-23 15:38] florentvitse commented on #12
J'étais déjà dessus, je finis et je push :)

[2015-02-23 15:43] ET-AD commented on #12
Je suis également dessus mais en galère..

[2015-02-23 15:43] caronpe commented on #12
Oki! N'oubliez pas de créer des issues avant de coder sinon on va merdouiller.

[2015-02-23 15:45] caronpe opened #13 "Répartition des taches"
J'ouvre un nouveau topic trés important!
Ici on va tenter de lister les modifications à effectuer et les attribuer aux membres:

[2015-02-23 15:48] caronpe commented on #13
Création de l'action attaquer
Création de PNJ
Création d'une pieges
Création de nouvelles Cartes
Création de Bonus (PV ++, vitesse++?)

[2015-02-23 15:49] florentvitse commented on #13
Yep bien vu :)
Moi en ce moment je fais les sorties de la carte (les changements de Map)

[2015-02-23 15:49] caronpe commented on #13
si ça vous va je me charge l'action attaquer

[2015-02-23 15:51] florentvitse commented on #12
D'ailleurs question : une sortie est un OBSTACLE FRANCHISSABLE ou un type d'obstacle EXIT ?
Deuxième question : les obstacles sont liés à la carte donc c'est un attribut d'une carte, ça serait plus facile comme ça nan ?

[2015-02-23 15:52] florentvitse commented on #13
Oui PE ;) et si tu veux des PNG de Monstre, etc... just ask :)

[2015-02-23 15:56] caronpe commented on #12
Je pense qu'il est plus judicieux de créer un nouvelle objet Exit dérivant de Obstacle (ou obstacle franchissable).
Pour la deuxiéme question je pense qu'il est judicieux d'inclure un attibut à Map sous forme d'une liste d'objet Exit. (mais bon je suis pas expert en slick2d donc je suis pas le mieux placé pour répondre).

[2015-02-23 15:58] caronpe commented on #12
Aprés il faut voir si cette fameuse liste est vraiment utile, puisque si le changement de zone se déroule au moment du passage sur l'objet Exit je doute de l'utilité de le référencer dans l'objet Map.

[2015-02-23 16:00] #3 closed, assigned to nobody

[2015-02-23 16:03] florentvitse commented on #12
Oui je créerai l'objet Exit qui dérive d'obstacle (car j'aurais besoin d'attribut non nécessaire dans un Crossable)
Cette liste va enfaite m'aider, d'une part à savoir dans quel Map on est, deuzio -  à dire vers quel map je me dirige & troizio - affecter des nouvelles coordonnées au personnage après le changement de carte [l'exit est en haut sur la première mais on arrive en bas de la seconde]

VA

[2015-02-23 16:04] caronpe opened #14 "Action attaquer"
Ajout de l'action attaquer au personnage, aussi bien sur le plan graphique que algorithmique

[2015-02-23 16:07] ET-AD commented on #12
Je ne pense pas que c'est la bonne solution.

[2015-02-23 16:11] caronpe commented on #12
Je pense que ces informations sont à stocker dans l'objet Exit directement.
En gros:  if (Prochaine case == Exit){Déplacer à Exit.Destination}

[2015-02-23 16:17] ET-AD commented on #12
Les paramètres de destination doivent être stocké dans les propriétés des objets (cf. Tiled), non?

exemple :

x = Float.parseFloat(map.getObjectProperty(0, objectID, "dest-x", Float.toString(x)));

[2015-02-23 16:27] florentvitse commented on #12
Oui c'est toute à fait ma pensée PE
Étienne : Ça c'est le tuto car il dessine des objets vectoriels, je n'ai pas trouvé la même chose pour associer des données sur une case du quadrillage qui compose la carte. C'est pour ça que j'ai élaboré cette solution

[2015-02-23 16:29] ET-AD commented on #14
Juste pour que tu ne passes pas à côté, dans "mobile" j'ai mis un attribut "attack".

[2015-02-23 16:33] ET-AD commented on #12
J'ai eu le même soucis que toi. En fait il faut télécharger une version plus ancienne de Tiled pour retrouver le même système.

Par contre je comprends pas, actuellement la "porte/sortie" de la première map ne fonctionne pas chez  moi. Tu es bloqué comme moi ou c'est censé fonctionner ?

[2015-02-23 16:47] florentvitse commented on #12
Tu peux me dire le numéro de version ?

Non le système ne fonctionne pas, je l'ai pas encore pusher car pas fini :)

[2015-02-23 16:49] #1 closed, assigned to nobody

[2015-02-23 16:59] caronpe commented on #13
-affichage de la vie et de la force d'attaque en haut de la fenêtre

[2015-02-24 09:03] ET-AD commented on #12
Tu as push les modifs avec la class map... tout mon code n'est plus à jour maintenant... c'est assez problématique.

[2015-02-24 09:05] ET-AD commented on #12
J'arrive à changer de map avec les triggers (+tes modifs de Map) mais normalement tu modifies la structure du code une fois que cela fonctionne ! pas pendant que l'on code les modifications car là cela change tout !

Mon code fonctionne mais je n'arrive pas à revenir sur la map d'origine soit un problème avec ton index, soit c'est mon trigger.C'est quand même une avancée.

Edit : Dsl double post

[2015-02-24 09:32] florentvitse commented on #12
Je vais pusher mes modifs là, tous fonctionne tu vas voir, c'est ma partie :)

[2015-02-24 09:51] florentvitse commented on #12
Voilà c'est fait et ça fonctionne :+1:

[2015-02-24 10:14] ET-AD commented on #12
c'est un peu réinventer la roue...

[2015-02-24 10:29] florentvitse commented on #12
Pourquoi ?
On attribue des Exits aux salles et voilà, de même tu pourras rajouter des Crossable(s) et en jouant sur leur attribut isCrossable, une fois il passe, une fois il passe pas.

[2015-02-24 10:43] ET-AD commented on #12
A quoi sert "avantPlan" dans les maps ? s'il est décoché on peut le supprimer non?

[2015-02-24 10:46] florentvitse commented on #12
Les avantPlan sont des claques qui vont au-dessus du personnage quand il passe dedans, on joue sur la transparence, tu peux voir un vrai avantPlan dans la première Map avec l'herbe par exemple.
Même si il n'y a rien dessus, il faut garder cette hiérarchie pour les render :)

[2015-02-24 10:49] ET-AD commented on #12
C'est réinventer la roue dans le sens où on nous propose une méthode avec "trigger" qui fonctionne avec un même code pour l'ensemble des maps.

Là avec ta méthode il faut rajouter le code de toutes les sorties et toutes les maps du jeu, sans compter les nouvelles classes, méthodes et attributs... pas franchement optimal je trouve dans le sens ou il y avait des outils déjà existant. Il fallait pren

[2015-02-24 11:00] florentvitse commented on #12
Je l'ai lu Étienne, j'ai lu les tutos mais cette solution ne nous intéresse pas dans le sens où là, il est obligé de faire ça car il se déplace au pixel près alors que nous, c'est à la case près déjà.
Ensuite le code est le même pour chaque EXIT, peu importe la map, c'est la méthode getExitByCoordinate.
Tous le code, les attributs, méthodes et tout comme tu dis, sur le tuto, il les fait dans l'édi

[2015-02-24 15:52] caronpe opened #15 "Suppression des redondances de code dans la fonction keyPressed"
Plusieur fois les mêmes lignes je vais donc créer une fonction

[2015-02-24 16:09] #15 closed, assigned to caronpe

[2015-02-24 16:10] caronpe opened #17 "Suppression redondance dans collision"

[2015-02-24 16:31] caronpe opened #18 "Supression de redondance de code dans isExit()"

[2015-02-24 16:51] caronpe opened #19 "Suppression redondance code getNextOrdonnee"

[2015-02-24 17:28] #19 closed, assigned to caronpe

[2015-02-24 17:28] #18 closed, assigned to caronpe

[2015-02-24 17:28] #17 closed, assigned to caronpe

[2015-02-25 13:31] florentvitse opened #22 "Création de PNJ"
Je crée les PNJ sans m'occuper des points de vie, attaques, etc... (attributs à rajouter après)
Je m'occupe simplement de créer la classe avec les attributs de base pour le placement et leurs images.

[2015-02-25 15:36] caronpe commented on #22
si ta class dérive de la class abstraite mobile tu n'as pas besoin de le redéfinir.

[2015-02-25 15:41] florentvitse commented on #22
Elle dérive de collision enfaite car c'est graphiquement une image que j'affiche si son attribut visible est a true :)

[2015-02-25 15:42] florentvitse commented on #22
Et cette "image" te bloque si tu ne l'as pas "combattu" [là où tu implémente ta partie]

[2015-02-25 15:45] caronpe commented on #22
oui mais tes PNJ on une vie, peuvent attaquer et se déplacer, Il faut donc impérativement dériver de Mobile.Mais je suis d'accord que niveau affichage et déplacement il se comporte comme un infranchissable!

[2015-02-25 15:52] florentvitse commented on #22
Ah il doivent pouvoir se déplacer ?
Je pensais que c'était des bloqueurs de passage qu'il faut tuer pour passer

Ça devient du temps réel alors ?

[2015-02-25 16:03] caronpe opened #23 "Erreur de location de fonction"
Aprés avoir regardé plus largement le code je pense que beaucoup de fonctions sont situées au mauvais endroit!
dans Windows game:
- move() à passer dans Mobile
- collision() , isExit(), findExit() à déplacer dans Map

La class windowsGame doit uniquement servir de partie Controleur, View.

[2015-02-25 16:07] caronpe commented on #22
oui oui! sinon taper sur un caillou avec une épée ça représente pas bcp de challenge ;-)  (et ça nous prépare à avoir plusieur joueurs en multi).
Mais pour la V0.2 (qui finira lundi pro) on se contente de le créer, il bougera dans une prochaine version ^^

[2015-02-25 16:10] cdlm commented on #22
Votre hiérarchie est confuse :
- les coordonnées sont définies identiquement dans plusieurs classes → il manque une superclasse commune
- `Crossable` et `Uncrossable` sont identiques et n'apportent rien par rapport à `Obstacle` → inutiles (X)

Mon conseil : reconsidérez la classification initiale, et n'utilisez l'héritage qu'à bon escient (le réflexe est souvent d'utiliser l'héritage dans des cas

[2015-02-25 16:24] florentvitse commented on #22
Pour les coordonnées, nous avons réfléchi à une classe Position qui contiendra les x et y.

Les classes Crossable et Uncrossable devrait disparaître.

Je ne comprends pas ce que vous allez voulu dire après avec l'histoire de composition et d'héritage.

[2015-02-25 16:25] caronpe commented on #22
Je suis d'accord, les classes Crossable et Uncrossable sont présente mais pas encore utilisé.
Un Obstacle est une zone déclenchant un évènement (certes le nom n'est pas adapté), ce qu'il peut être soit franchissage (comme des herbes, un caillou destructible,...) soit bloquant (comme un élément de la carte) soit être une sortie.

Pour le moment les classes existent mais ne sont pas exploité, mais c

[2015-02-25 16:34] ET-AD commented on #22
Oui j'avais hésité avec les classes Crossable et Uncrossable.

Je l'ai ai mise pour deux raisons citées plus haut :
- lisibilité pour le moment
- et future exploitation comme l'indique PE (message ci dessus)

Je propose de laisser tel quel pour le moment et revenir dessus par la suite en fonction de l'utilisation.

PS : certains éléments sont plus facilement gérable avec Tiled (Solid), d'autres so

[2015-02-25 16:58] caronpe opened #24 "Pixel ou case?"
Peut on m'expliquer si pour faire tourner notre programme on travaille avec des pixels ou des cases de tableau? On augmente l’attribut abscisse du joueur en pixel mais on fait nos tests sur les cases  et si je me trompe pas les déplacements sont aussi de case en case.

Voilà, si une âme charitable peut me fournir une explication ;-)

[2015-02-25 17:09] florentvitse commented on #24
Je vais t'expliquer, moi aussi je m'y perds parfois.

Le placement du joueur est représenté par x et y en PIXEL, comme tu l'as compris, on le déplace de PIXEL en PIXEL jusqu'à arriver au coordonnées d'une case (origine = en haut à gauche)

Par contre quand tu veux savoir si la prochaine tuile est une collision par exemple, c'est par rapport aux CASES du quadrillage qui forme la map [on affiche pas

[2015-02-25 17:20] florentvitse commented on #24
La méthode getTileId prend en arguments des int je crois 0:0 représente la première case en haut à gauche.
1:0 celle à sa droite
0:1 celle en dessous

[2015-02-25 22:35] cdlm commented on #22
_les classes Crossable et Uncrossable sont présente mais pas encore utilisé._ autrement dit c'est du code mort… donc pourquoi avoir perdu du temps à l'écrire ?

C'est difficile d'anticiper à quoi ressemblera le code au final, autant accepter ce fait et attendre d'avoir une justification solide pour écrire le moindre code. Une justification solide, c'est un test rouge, ou un problème d'organisation

[2015-02-26 15:08] #12 closed, assigned to florentvitse

[2015-02-26 15:08] #24 closed, assigned to florentvitse

[2015-02-26 15:13] florentvitse commented on #23
Fait, dites-moi si une chose est encore mal placée ?

[2015-02-26 15:19] caronpe commented on #23
à premiére vu c'est good!

[2015-02-26 15:21] caronpe commented on #23
Je ferme et on reouvrira si on détécte d'autres problémes ^^

[2015-02-26 15:21] #23 closed, assigned to florentvitse

[2015-02-27 10:27] florentvitse commented on #22
La création de PNJ est fonctionnel, il faut p-e refactorer le code pour faire une méthode d'affichage de ceux-ci au lieu des 3-4 lignes dans la méthode render.
Pour l'instant, dans cette version, il ne bouge pas, l'image choisie est aléatoire et il ne bloque pas le passage du joueur.

[2015-02-27 10:27] #22 closed, assigned to florentvitse

[2015-02-27 16:33] ET-AD opened #26 "Mobile extends Object (Obstacle)"
Histoire que vous ne soyez pas surpris.

Le code de Object (anciennement : Obstacle) se retrouve pratiquement entièrement et de manière identique dans Mobile.

J'ai repensé la structure UML.
D'un point de vue "Objet", un joueur est un objet mobile et non franchissable.

J'ai fait les modifications nécessaires.

[2015-02-27 16:48] caronpe commented on #26
Attention je suis pas sûre d avoir bien compris!  Il ne doit pas y avoir deux fois le même code dans un programme (ssinon problème de conception).
Si tu comptes faire hériter joueur de obstacle Why not mais dans ce cas il faut changer le nom "obstacle" par quelque chose de plus parlant ("élément" par exemple)

[2015-02-27 16:56] caronpe commented on #26
Dans ce cas les classes héritieres seraient "décors ""piège" ... en gros tout ce qui se pose sur la carte

[2015-02-27 17:25] ET-AD commented on #26
Oui le problème était que le code se retrouvait à l'identique. J'ai factorisé tout ça notamment avec un "Mobile extends Objetc".

J'ai renommé Obstacle en Object. En partant du principe que Joueur est un objet sur la carte (tu peux changer en "Element" si tu préfères).

"en gros tout ce qui se pose sur la carte"
Voila, tout ce qui se pose sur la carte est objet selon notre nouveau modèle ou plutôt

[2015-02-27 18:12] florentvitse commented on #26
ATTENTION : La classe Object existe déjà en Java est d'ailleurs tous les objets (classe) héritent implicitement de celle-ci.

Je viens de puller tes derniers commits et j'ai des erreurs partout @e-adriansen !!!
Je n'ai pas la classe Object dans le projet !

EDIT : Refresh d'ECLIPSE à la con - never mind !

[2015-02-27 19:18] ET-AD commented on #26
Effectivement je n'ai pas pensé à la classe Object de base.

Je viens de renommer "Object" en "Element".

PS : Je test le code avant de push Flo ;)

[2015-02-27 19:35] ET-AD opened #27 "Vitesse déplacement joueur diffère selon l'ordinateur"
Je viens de mettre le projet sur mon PC perso (je ne pouvais pas avant) et surprise!... la vitesse du joueur est grandement ralentie comparée à celle que j'ai depuis mon PC de boulot.

Suis-je seul où cela fait cela ?

PS : Je viens de faire un commit ("remane Object to Element") depuis mon PC perso...j'espère ne pas avoir transmit ce ralentissement que je ne m'explique pas pour le moment.

[2015-02-27 19:53] cdlm commented on #27
Ça peut être dû à une différence de taux de raffraîchissement, selon
comment vous recalculez les coordonnées.
Le nombre de millisecondes depuis le dernier `render()` est passé en
argument pour que vous puissiez faire le faire le calcul à partir d'une
vitesse de déplacement en pixels par seconde.

2015-02-27 20:35 GMT+01:00 e-adriansen notifications@github.com:

##

Damien Pollet
type less, do more

[2015-02-28 16:41] cdlm commented on #26
PS à propos du refresh Eclipse: il y avait des BOM Unicode dans 2-3 fichiers que j'ai dû enlever avec un éditeur hexa parce que `javac` ne les gère pas… quelqu'un a dû éditer le code avec un autre éditeur ?

[2015-02-28 17:54] florentvitse commented on #27
Oui la vitesse dépend selon le PC ou même encore selon le nombre de fois où on le lance (quand je suis en dev ça me le fais)
J'utilise la variable SLOW_ANIM dans la classe (anciennement mobile ou c'est p-e encore le cas) pour ralentir le mouvement pour qu'on voit le déplacement sur les PC puissants.
Il faudrait pouvoir modifier cette variable au démarrage en fonction du PC.

[2015-02-28 18:09] cdlm commented on #27
C'est du bricolage… et vu que les OS modernes adaptent la fréquence du processeur en fonction de la charge, comment voulez-vous déterminer le bon facteur ? D'autre part il est probablement important de contrôler précisément la vitesse de déplacement, parce que cela fait partie de l'expérience de jeu. Donc le déplacement doit correspondre précisément à ce qui est spécifié en pixels (ou cases) par s

[2015-03-02 15:43] florentvitse commented on #27
J'ai fixé le framerate ainsi sur chaque PC le jeu devrait tourner à 160 fps [j'ai remis l'affichage des FPS pour voir plus simplement -> si @cdlm @e-adriansen @caronpe vous pouviez me dire si la vitesse est correcte est si l'affichage des FPS en haut à gauche est bien 160 ou 161 sur votre/vos PC]

[2015-03-02 15:44] #26 closed, assigned to ET-AD

[2015-03-02 15:45] florentvitse commented on #14
Tu as avancé PE ? si tu veux réfléchir ensemble pour attaquer ?
J'ai rien à faire en ce moment [chef qui ne reviens pas avant Jeudi ;) ]

[2015-03-02 15:50] caronpe commented on #27
Je confirme, ça fonctionne chez moi!

[2015-03-02 16:10] caronpe commented on #14
Oui oui tkt! j'ai bientôt fini ^^

[2015-03-02 16:11] caronpe commented on #14
Si tu veux il y encore bcp de choses à faire ^^ (genre les pièges, la fin du jeu, la page de connexion ,...)

[2015-03-02 16:12] caronpe commented on #13
Page de connexion
Fin de jeu
Mise en place du chrono

[2015-03-02 16:16] cdlm commented on #27
Encore une fois… est-il logique de coupler le fonctionnement du jeu aux performances graphiques du matériel ? Votre solution fonctionne peut-être ici, mais est-elle correcte, dans l'absolu ?

Limiter le framerate sert à ne pas gaspiller de ressources si l'écran n'affichera de toute façon que 30 ou 60fps. Au delà d'un minimum acceptable, le framerate est un paramètre de _confort_ qui n'influence qu

[2015-03-02 16:33] florentvitse commented on #27
J'y est déjà passé mal de temps sur ce sujet (compter en jours) est c'est pour l'instant la plus facile solution car avant on devait changer une variable.

Je comprends que je fais l'amalgame entre deux notions différentes mais faute de mieux pour l'instant, je pense qu'il faut garder ça.

[Je suis en train de repenser la solution en incluant le delta dans les calculs]

[2015-03-02 16:37] florentvitse commented on #13
Affichage de la vie et force d'attaque : Je veux bien m'y coller si ce n'est pas déjà pris ? :)

[2015-03-02 17:14] caronpe commented on #14
L'attaque fonctionne demain je vais essayer de mettre une animation pour que ça soit plus visible

[2015-03-02 17:38] ET-AD commented on #14
action attaquer j'avais pensé à un projectile plutôt qu'une attaque au corps à corps. Qu'en pensez vous ? J'ai du mal à imaginer le gameplay de combats corps à corps versus cpu...

[2015-03-03 08:17] florentvitse commented on #14
Pas mal je viens de tester l'attaque là, ça marche du tonnerre et le code propre et simple, tout comme il faut ! :D
Pour l'animation de l'attaque pour l'instant, ce serait bien de d'afficher ce genre d'image à la place du monstre quand on appuie sur espace et ça revient après sur le monstre tant qu'il est pas mort ;)

https://0.s3.envato.com/files/265236.jpg

[2015-03-03 08:32] florentvitse commented on #27
J'ai eu un éclair pendant la nuit, je pense avoir trouvé une solution pour la vitesse, j'ai repris le delta, je fais bouger le personnage toutes les 5ms. Ça devrait être pareil sur chaque PC.
La vitesse est fixe désormais donc il faut voir si j'ai choisis la bonne selon vous sinon j'accélère ou ralentis :)

J'attends des retours en espérant positifs sur votre/vos PC ?

[2015-03-03 15:21] caronpe commented on #14
oui je pensais aussi à une petite explosion sur le montre lors ce qu'il se fait toucher ^^ je vais chercher ça!
Pour le type d'attaque on peut tenter plusieurs armes différentes (épée, pistolet, rayon laser,...) mais ça sera pour de futures version.

[2015-03-03 15:21] #14 closed, assigned to caronpe

[2015-03-03 15:23] caronpe opened #28 "Animations des attaques"

[2015-03-03 15:27] caronpe commented on #13
Je rappelle que chaque fonction que vous codez doit entrainer une ouverture d'issue. (Actuellement vous n'avez rien d'attribué je sais pas sur quoi vous travaillez).
Flo si aucune issue n'est créé alors c'est dispo!
(au passage j'ai clos la version 0.2 et lancé la 0.3 jusque lundi pro).

[2015-03-03 15:38] cdlm commented on #13
Tant qu'on est sur le sujet, vous savez que vous pouvez [mentionner les numéros d'issue dans les messages de commit](https://guides.github.com/features/mastering-markdown/#GitHub-flavored-markdown) pour faire le lien entre discussion et code ?

[2015-03-03 15:50] florentvitse commented on #27
Alors des retours ?

[2015-03-03 15:52] florentvitse commented on #13
@cdlm -> indiquez issue #22 par exemple vous voulez dire ?

@caronpe -> j'ai demandé plus haut, je crée une issue oui alors, j'ai pas encore le réflexe à chaque fois :)

[2015-03-03 15:53] florentvitse opened #29 "Affichage de la vie et force d'attaque"
Affichage des levels de vie et de force sous forme de barre progressives/dégressives en haut à gauche de l'écran.

[2015-03-03 19:21] cdlm commented on #27
J'avais pensé à une solution de ce genre, accumuler les millisecondes tant qu'elles ne suffisent pas à justifier un déplacement d'au moins un pixel. Cela évite de passer par des coordonnées en virgule flottante, c'est probablement mieux au final, car on évite les erreurs d'arrondi (enfin ça en donne la possibilité…).

Par contre je ne comprends toujours pas pourquoi, plutôt que changer la position

[2015-03-03 21:08] ET-AD commented on #28
Je suis sur l'animation d'attaque PNJ. J'ai supposé monsterOne est un FireLord (extends PNJ)
son attaque projète des boules de feu (Fireball extends Element) qui au contactent avec le joueur explosent et blessent le joueur.

Je rencontre des soucis avec les boules de feu.
Je m'y prends peut être mal mais actuellement c'est Firelord qui créé Fireball et cela me pose quelques soucis en particuliers

[2015-03-03 21:54] caronpe commented on #28
Etienne, je sais pas si tu as compris le fonctionnement de github et je pense qu'il faut se voir pour discuter de ça et se mettre d'accord!
Je sais pas si tu as remarqué mais cette issue m'est assigné... (Chaque membre de l'équipe s'attribut la tâche qu'il souhaite coder et le déclare en créant une Issue).

Bref nous venons de travailler encore une fois sur la même partie du programme et un choix

[2015-03-03 22:00] florentvitse commented on #28
Je suis d'accord avec PE

[2015-03-03 22:04] florentvitse commented on #28
Et aussi Étienne tu veux faire trop de truc en même temps, faut réfléchir ensemble avant de commencer temps de changements
Petit à petit !

[2015-03-03 22:08] caronpe commented on #28
#13 est là pour ça! Cette issue régule notre travail et gére l'organisation du groupe. (cf mon poste dans #13 à 16h)

[2015-03-03 22:17] caronpe commented on #13
Je pense que damien faisait référence à ce tuto :
https://help.github.com/articles/closing-issues-via-commit-messages/

si tu ajoutes #xxx dans le texte du commit tu annonces que ce commit correspond à l'issue xxx
si tu ajoutes close #xxx alors tu fermes le commit xxx avec ce commit

[2015-03-04 09:23] florentvitse commented on #27
Le vecteur vitesse c'est on attend 4 ms et on bouge le personnage équivaut à un déplacement de 1 px toute les 4 ms si vous voulez. Les arrondis, on essaie d'éviter car on veut des déplacement case par case, ça fonctionne très bien comme ça.

[2015-03-04 09:23] #27 closed, assigned to florentvitse

[2015-03-04 09:25] florentvitse commented on #29
J'essaie en ce moment de rechercher comment afficher la vie, l'arme sélectionnée par exemple, j'ai trouvé ce style là pour l'instant
![hud fight](https://cloud.githubusercontent.com/assets/9799077/6480878/adac09dc-c258-11e4-94b1-3c371b789be1.png)

Est-ce que cela est bien où on préférerait un autre truc, je suis ouvert aux propositions :)

[2015-03-04 09:28] florentvitse commented on #28
@caronpe - Pour les attaques, dès que tu es en combat, je pense qu'il faudrait que tu intègres un genre de booléen pour savoir que le personnage est en combat, comme ça on serait obligé de combattre le monstre (après que l'on est appuyé pour la première fois sur ESPACE) -> De ce fait on ne pourrait pas partir en plein combat.
Qu'en pense tu ?

[2015-03-04 09:48] florentvitse commented on #29
Soit je peux copier ces barres de PV à l'ancienne

![image](https://cloud.githubusercontent.com/assets/9799077/6481216/f1f2cde4-c25b-11e4-80b1-9845d4bd9fa7.png)

[2015-03-04 10:56] florentvitse commented on #28
Et tiens, si tu veux tester avec des rochers, j'ai trouver le correspond graphique :)

![caveblock](https://cloud.githubusercontent.com/assets/9799077/6482370/7799cd0e-c265-11e4-9e8d-b14071ac79f2.png)
![townrock](https://cloud.githubusercontent.com/assets/9799077/6482372/779b2366-c265-11e4-9c4c-d0d36bd048aa.png)
![townblock](https://cloud.githubusercontent.com/assets/9799077/6482371/779a11ec-c265-

[2015-03-04 15:55] florentvitse commented on #29
Voilà un aperçu avec la deuxième solution style pokémon, je trouve que ça correspond avec la charte graphique nan ? :)

![sans titre 1](https://cloud.githubusercontent.com/assets/9799077/6487059/4b4f7d1e-c28f-11e4-8bb8-896268292acd.jpg)
![sans titre 2](https://cloud.githubusercontent.com/assets/9799077/6487058/4b4d3cb6-c28f-11e4-8f95-06280cc40d75.jpg)

Si cela vous va, je passe au codage.

[2015-03-04 19:16] ET-AD commented on #28
Wow je crois que j'ai loupé une discussion...

@caronpe Je ne comprends pas vraiment ta réaction. J'ai regardé ta branche avant de me lancer sur le développement "attack PNJ" et elle était orientée, sauf erreur de ma part, exclusivement sur le joueur, non les PNJ.
J'ai pensé que tu continuais ton développement de l'attaque du Joueur... A cela j'ai imaginé qu'il pourrait être interressant de commen

[2015-03-04 19:28] ET-AD commented on #28
Pour github, certes je ne m'attribue pas d'issue avant de développer. Maintenant je commit mes avancés toutes les heures (maximum). Le prof ayant dit de préférer les petits commit régulier plutôt que les gros commits. Peut être ai je mal interprété cette phrase ou son application ... ?

Après s'attribuer des tâches complètes.... personnellement, je préfère contribuer à pleins de petites tâches et

[2015-03-04 19:32] cdlm commented on #28
Si je peux me permettre— la communication par écrit est notoirement difficile, donc gardez la tête froide…

Il est plus ou moins inévitable que vous vous marchiez sur les pieds en codant à plusieurs sur un si petit programme. Moi même je ne sais pas ce qui est le plus pratique pour démarrer un projet à plusieurs. En général, quelqu'un·e écrit seul·e un prototype puis des collaborateurs viennent s'

[2015-03-04 19:42] ET-AD commented on #28
Désolé si je parrais être aburpt dans mes messages, ce n'est pas intentionnel !

Aucune animosité de ma part, désolé. Je pense que l'on essaie juste de se comprendre ;)

PS ; je vais rajouter des smileys :p ça casse le côté parfois dur des messages ;)

[2015-03-04 20:18] cdlm commented on #28
Justement, il n'y avait aucun reproche, juste une remarque générale et surtout pas personnelle. Je viens justement de tomber sur [un blog qui parle de la communication](http://chadfowler.com/blog/2013/04/09/who-i-want-to-hire/), et à y réfléchir, c'est vrai que la part d'effort consacré à la communication dans les projets open-source qui marchent bien est surprenante.

[2015-03-04 20:19] caronpe commented on #28
Le travail en équipe et à distance est effectivement difficile. C'est pour ça que j'ai essayé de passer plus de temps sur notre organisation que sur le code jusqu'ici (création de milestone pour les version, assignement des issues, attribution de type aux issues). Il est important de passer du temps à s'organiser AVANT de coder.

Je suis entiérement d'accord sur le fait de travailler en collaborat

[2015-03-04 20:25] caronpe commented on #29
Personnellement je suis fan du style! Comme tu l'as proposé sur #28 on va mettre un boolean qui empéche le personnage en combat de quitter la carte tant que le montre est pas vaincu

[2015-03-04 20:31] caronpe opened #30 "Création d'attaque des PNJ"

[2015-03-04 20:33] caronpe commented on #30
e-Adriensen:

Je suis sur l'animation d'attaque PNJ. J'ai supposé monsterOne est un FireLord (extends PNJ)
son attaque projète des boules de feu (Fireball extends Element) qui au contactent avec le joueur explosent et blessent le joueur.

Je rencontre des soucis avec les boules de feu.
Je m'y prends peut être mal mais actuellement c'est Firelord qui créé Fireball et cela me pose quelques soucis en

[2015-03-04 20:40] caronpe commented on #30
L'idée est cool mais il va faloir la décomposer je pense!

Pour ce qui est des déplacements je pense que pour le moment ça sera plus sage de pas mettre les diagonal pour ne pas complexifier trop rapidement!

Pour l'objet mobile non crossable je pense que c'est effectivement une erreur de logique de notre part (ça vaut peut etre le coup de créer une issue "bug")

Pour la gestion des collision et du

[2015-03-04 20:42] caronpe commented on #30
Parcontre pour le déplacement de la boule de feu je sais pas comment la faire bouger. J'ai actuellement un "probléme" sur ce point avec les animations liées aux attaques. Je sais pas si l'utilisation de Thread est une bonne solution?

[2015-03-05 07:48] florentvitse commented on #29
Ok ça marche je fais comme ça alors
Je réflechis où implémenter l'objet HUD vu que c'est de la vue mais ses données dépendent d'autres objets, still thinking !

[2015-03-05 09:58] caronpe commented on #29
N'hesites pas à créer des objets, ça ségmente le code et le rend plus lisible!
Hier j'ai créé dans ma branche l'objet "AnimationAttaque" qui contiendra toutes les animations liées aux attaques.
Comme ça dans windows game il suffira de faire:
draw(AnimationAttaque.hit , ....)

toute la partie création d'animation est donc invisible dans la class VC.

(ces modifs ne sont pas encore push donc tu ne l

[2015-03-05 11:28] ET-AD commented on #29
+1 pour le design des barres de vie et l'idée d’empêcher la sortie du combat avec un rocher.

L'apparition d'un rocher temporaire permet de créer une sorte d'arène de combat (limite espace de déplacement). Je suis pour!

[2015-03-05 11:42] ET-AD commented on #30
J'essaie de repenser ça ce soir. Peut être voir aussi avec florent vu qu'il a codé et pensé la gestion maps/sorties/adversaires.

La sur le coup je pense que le soucis vient que ce n'est pas la map qui créé le projectile. Peut être faire en sorte que Firelord lance un appel à map pour créer un nouvel adversaire projectile...? Je regarde ça ce soir.

Peut être même que l'on devrait créer une classe

[2015-03-05 19:29] florentvitse commented on #28
J'aime l'effet de l'eau là, c'est pas mal du tout !

[2015-03-05 19:32] florentvitse commented on #29
J'ai fait un peu de Photofiltre et j'affiche également la force d'attaque, barre en dessous de la vie pour le joueur, c'est bien comme ça que vous le voyiez aussi ?
Je vais maintenant m'attaquer à afficher la barre du monstre quand on est en combat, j'attends un peu donc que vous ayez avancez pour que ce soir plus simple pour moi ;)

[2015-03-09 11:07] cdlm opened #31 "Build failing et zéro tests !"
Scrogneugneu :angry:

[2015-03-09 14:46] ET-AD opened #32 "téléporteurs fonctionnent mal"
- Impossible d'aller sur la 4ème map
- puis lorsque l'on veut revenir en arrière les téléporteurs envoient le Joueur sur les mauvaises portes.

Je suis sur le coup

[2015-03-09 15:14] florentvitse commented on #32
J'ai testé ce midi et il n'y avait aucun problèmes, quel sont les portes qui posent problèmes.
Réponds moi comme ça :

Map X - Endroit de la porte VERS Map Y

[2015-03-09 15:15] florentvitse commented on #31
Je vais essayer de rédiger le plus de tests possible ce soir.
Est-il nécessaire de tester les getteurs/setteurs simples, je ne pense pas ?

[2015-03-09 15:29] ET-AD commented on #32
Une image sera plus parlant...

![bug1](https://cloud.githubusercontent.com/assets/10976583/6557945/43474cc6-c679-11e4-9213-7484e8bae152.png)

[2015-03-09 15:30] ET-AD commented on #32
Comme tu peux le voir, la téléportation ne s’enclenche pas.

Cette image correspond à :
- Impossible d'aller sur la 4ème map

[2015-03-09 15:36] ET-AD commented on #32
![21](https://cloud.githubusercontent.com/assets/10976583/6558147/87160694-c67a-11e4-8c14-bfa4b9983b04.png)

![22](https://cloud.githubusercontent.com/assets/10976583/6558138/728778d4-c67a-11e4-89e6-f8ace5af576f.png)

[2015-03-09 15:38] ET-AD commented on #32
Exemple pour :
- puis lorsque l'on veut revenir en arrière les téléporteurs envoient le Joueur sur les mauvaises portes.

PS : il y a plusieurs portes dans ce cas

[2015-03-09 15:47] ET-AD commented on #32
Ce peut-il que le problème soit lié au build failing reporté #31 ?

[2015-03-09 16:08] ET-AD commented on #32
Il manquait une exit à fourthMap, mais cela ne résous pas les bugs.

[2015-03-09 16:34] ET-AD commented on #31
"Build fail" J'imagine que cela correspond au point d'interrogation rouge sur le dossier du projet (dans eclipse). Cela n'empêche pas l'execution du programme, qu'est-ce que cela signifie?

D'où peut provenir le "Build fail" ?
Je l'ai aperçu pour la première fois vendredi soir il me semble, donc je pense à un commit du vendredi ou jeudi. Quelqu'un l'a-t-il aperçu avant ?

EDIT : j'ai fait pas mal

[2015-03-09 16:49] caronpe commented on #31
Je suis le dernier à avoir commit vendredi ça vient peut être de moi :-( ...

[2015-03-09 16:49] caronpe commented on #31
Qq à une petite définition "build failing"?

[2015-03-09 17:04] florentvitse commented on #31
Le "build failling" vient simplement des tests je pense, ils ne sont pas implémentés et JUnit a généré des itérations de fail dans chaque test comme ça, il faut les résoudre pour passer.

[2015-03-09 17:17] florentvitse commented on #32
Aucune Exit présente sur la fourthMap était voulu, je n'en avais pas mis justement dans une logique de jeu.
Pour ce qui est du passage de la troisième à la quatrième, cela fonctionnait quand je l'ai re-testé au travail ce matin et cela fonctionne encore chez moi.
Je vois que tu en as rajouté une et maintenant il y a un bug oui car tu te "téléportes" mais tu rentres dans une collision, de la troisi

[2015-03-09 18:05] cdlm commented on #31
Exactement. Tous vos tests font un bête `fail()`… on fait plus utile comme test :)
Pour le build c'est la compilation + tests, que ça soit dans Eclipse ou [sur Travis](https://travis-ci.org/TL1-fa17/projet2).

[2015-03-09 18:18] cdlm commented on #32
Commentaire en passant, c'est pas forcément une bonne idée de revendiquer la propriété de telle ou telle partie du code. Imaginez ce que ça donne en extrapolant : si chaque développeur est expert sur sa partie et seulement cette partie, personne d'autre ne sait comment corriger un problème dessus. Le jour où cette personne part, le projet a perdu toute expertise sur le code concerné.

Donc il vaut

[2015-03-09 18:29] florentvitse commented on #32
Je ne dis pas qu'il ne faut pas comprendre le code des autres, mais en parler avant de modifier.
Je suis d'accord je meurs demain, le projet continue sa vie quoi.

[2015-03-09 23:12] ET-AD commented on #32
Citation : "Il manquait une exit à fourthMap, mais cela ne résous pas les bugs."
J'en ai parlé lol ^^ ok j'attends pas la réponse ... :p mais maintenant je créé les issues lol patience je m'améliore ! ;)

Par contre peut être tu aurais pu parler avant de "Aucune Exit présente sur la fourthMap était voulu, je n'en avais pas mis justement dans une logique de jeu." ...
si tu pouvais développer stp ;)

[2015-03-10 08:00] florentvitse commented on #32
Avec tes screens, je vois que tu travailles sur une ancienne version car tu n'as pas les barres en bas.
Je viens de constater le bug aussi, il ne survient pas au premier passage chez moi mais à "l'usure", à force de les utiliser.
Je regarderais ça ce soir si j'ai le temps, c'est peut-être dans la classe Position ou Exit ou dans la déclaration de celles-ci car c'est bien les coordonnées d'arrivées

[2015-03-10 08:05] florentvitse commented on #29
Affichage de la Vie du monstre est fonctionnel, j'attends pour voir comment obtenir la vie du monstre quand le player est en combat pour l'afficher (en gros je suis en attente)
Je vais me consacrer au bug des portes en attendant.

[2015-03-10 08:10] ET-AD commented on #32
En fait les barres en bas font partie des problèmes qui ne s'affichent pas... maintenant que j'y pense on dirait que les modifications en ligne ne sont plus pris en compte... Est-ce un hasard ? ou est-ce parce que se sont des modifications graphiques ? Le problème du déplacement n'est pas graphique... je ne comprends pas.
Le git pull me dit que je suis à jour et j'ai bien l'historique des derniers

[2015-03-10 10:29] florentvitse commented on #32
La barre du joueur en bas doit être apparente, ça c'est sur.
Le problème de déplacement non n'est pas graphique car tu changes bien de position et/ou de map sauf que ce n'est pas les bon ordre ou des trucs comme ça...

Pour savoir si tu es à jour, il y a deux lignes de commentaires à la fin de la méthode render dans la classe WindowGame, elles proviennent de mon dernier commit et donc ça te diras

[2015-03-10 10:43] ET-AD commented on #32
// RECUPERATION DE LA VIE DU MONSTRE QUE L'ON EST EN TRAIN DE COMBATTRE
//displayHUDMonsters(g, 50);

J'ai bien les deux lignes de commandes ci-dessus dans mon projet Eclipse. Suis-je le seul à avoir ce problème @caronpe @cdlm ?

[2015-03-10 10:49] florentvitse commented on #32
Oui c'est celles-ci donc tu devrais voir la vie du joueur s'affiché en bas à gauche normalement.
Regarde, je viens de le lancer maintenant, j'ai enlevé le texte aussi dans le dernier commit.

![image](https://cloud.githubusercontent.com/assets/9799077/6573484/819356c6-c71b-11e4-8f04-f2bb5e4138bf.png)

[2015-03-10 11:29] ET-AD commented on #32
lol Je n'ai pu le texte " 2015 GameZ..." dans le code mais il apparaît toujours à l’exécution...

[2015-03-10 11:38] caronpe commented on #32
Je n ai pas encore testé je te dis ça à 16h.  Sinon vérifies que tu as bien opengl sur ton pc (maj peut être nécessaire).
Regardes également si ta fenêtre a bien la même résolution que la fenêtre normal de jeu (en théorie oui)
Fais un gît status pour verifier que tu as pas de modification (parfois un caractère se glisse sans se rendre compte)

[2015-03-10 12:44] cdlm commented on #32
Est-ce que vous pensez à faire "refresh (F5)" voire Project>Clean après chaque utilisation de git?

Vu ce que vous dites, on dirait que vous n'exécutez pas le bytecode correspondant au source Java, je n'irais pas chercher bien plus loin.

[2015-03-10 14:33] ET-AD commented on #32
Je fais F5 à chaque pull. J'ai testé le Project>Clean rien n'y faisait.
J'ai décidé de supprimer et recharger l'ensemble et cela fonctionne correctement de nouveau.
Citation @florentvitse  "sinon tu suppr et tu reclones (expérience déjà vécue)" :+1:

Pour en revenir sur le bug des téléporteurs, maintenant je te rejoins florent, il ne reste que le problème lié à "l'usure"

[2015-03-10 16:19] ET-AD commented on #30
Je pense avoir trouvé une solution.
Il me reste à :
- gérer les collisions de Fireball
- créer un déplacement automatique pour Firelord

PS : la disposition des maps actuellement n'est pas vraiment adaptée pour les combats tel que je les imagine (Firelord ça passe encore, mais pour d'autres idées cela devient problématique => manque d'espace).
Les maps sont telles définitives ? cela pose-t-il un p

[2015-03-10 16:56] caronpe opened #33 "Ecriture de test Mobile"
je me charge de faire les tests actuellement annoncé mais non codé

[2015-03-10 17:26] caronpe commented on #30
Je suis d'accord avec toi ça va manquer de fun!
Limite je propose un fonctionnement comme Pokemon:
En gros tu vois le monstre sur la map (le monstre immobile comme actuellement), tu donnes un coup d'épée. ça transporte les deux personnages sur une arène (type binding of isaac) avec combat en temps réel. Une fois le monstre tué la voie est dégagé.
Je pense que ça peut rendre le code beaucoup plus d

[2015-03-10 17:33] florentvitse commented on #30
Oui Étienne ça serait beau et tout de faire des trucs comme ça mais c'est long à mettre en place et le but de notre projet, c'est de découvrir le travail en équipe et tout donc c'est déjà pas mal ce qu'on arrive à faire surtout qu'on est pas à plein temps dessus.

Pour le fait de déporter le combat dans une arène, je suis pour et contre en même temps. Moi je voyais bien que l'on attaque les monstr

[2015-03-11 08:37] ET-AD commented on #30
@florentvitse Je ne proposais rien de précis. Juste l'idée de revoir cela ensemble.

J'aime beaucoup l'idée de PE, comme ça cela nous permet de garder nos maps actuelles qui sont plutôt jolies. Et permet d'avoir un gameplay sûrement plus amusant.

@florentvitse pourquoi cumuler les fenêtres ? utiliser le même système qu'actuellement (rajouter des maps/téléporteurs) n'est pas possible ? Un téléport

[2015-03-11 09:46] florentvitse commented on #30
Oui tu peux faire ça aussi, le changement de MAP pour le combat.

[2015-03-12 14:19] #33 closed, assigned to caronpe

[2015-03-12 14:23] florentvitse commented on #32
Il faut résoudre ce bug avant de commencer autre chose Étienne sinon ça va se cumuler ensuite...

[2015-03-13 13:42] ET-AD commented on #32
Ok tu as raison.

[2015-03-13 13:45] florentvitse commented on #32
Regarde si c'est justement la classe Position avec le nouveau equals qui était pas au point, ça peut p-e fonctionnait normalement maintenant, je fais le test et je reviens vers toi.

EDIT : Il y est toujours.

[2015-03-13 13:59] ET-AD commented on #30
C'est cool que tu y jettes un coup d’œil car je suis en difficulté pour poursuivre ! Un coup de main de serait pas de trop ! ;)

Pour en revenir sur ton commentaire IC (InCode), tu as tout à fait raison, je mettais trompé et j'ai corrigé mais peut être pas comme tu le penses, laisse moi d'abord t'expliquer ce que j'ai voulu faire :

Je voulais que lorsque Player entre dans la map (ou entre dans zo

[2015-03-13 14:25] florentvitse commented on #30
Oui je comprends le concept complet je pense mais comme l'avais dit PE, segmente toutes ces choses en en faisant petit à petit.
Là les différentes étapes seraient :
- Détection quand le joueur rentre sur la Map en question
- Lancer une boule de feu, en ligne droite, par exemple par le bas de la position du monstre(encore immobile) sans gérer les obstacles. [Elle traverse tous]
- Gérer la collision

[2015-03-13 14:28] ET-AD commented on #30
Ok je vais faire ça car je t'avoues que j'ai essayé de le faire d'un coup et le seul résultat que j'ai obtenu c'est Crash Error...

Je suis revenu sur la dernière partie fonctionnelle et je reprends de là.

EDIT : Oui tu as complètement raison priorité au bug téléporteurs

[2015-03-13 16:23] ET-AD commented on #32
Confirme moi que c'est aussi ok de ton côté flo

RSA: b878eb1262d787bf2a1d46c579b02fe8de076dab

[2015-03-13 17:53] florentvitse commented on #32
Ça fonctionne, 3 tests différents de parcours et l'usure n'affecte plus le changement oui.
Ça fait du bien de plus l'avoir celui-là !

[2015-03-13 17:53] #32 closed, assigned to ET-AD

[2015-03-16 07:51] #31 closed, assigned to nobody

[2015-03-17 09:08] florentvitse commented on #30
Au vu du temps qu'il nous reste, je lance une question, va-t-on vraiment réaliser les combats sur une autre carte déportée ou alors directement sur la Map où est le monstre en question, je penche plus pour la seconde solution moi car la première fais imaginer beaucoup de nouvelles choses (ce qui prend du temps) et aussi, PE a déjà commencé l'animation du player sur la Map (qui est plutôt réussi),

[2015-03-17 09:54] caronpe commented on #30
Coucou,  désolé de pas avoir bcp programmé la semaine dernière j étais sur un gros projet. Je dois encore finir les animations d attaque ( juste du photo montage à faire). Pour ta proposition je suis d accord! De toute façon il faut développer par petite amélioration. Si on a le temps on créera l arène sinon pas grave ^^

[2015-03-17 10:02] florentvitse commented on #30
Oui pareil j'ai regardé par petite touche et là j'attaque une reprise de TMA complète donc je peux aider mais pas autant qu'au début ^^ et pour les anims je vais essayer de faire un result potable pour l'attaque avec autre qu'une épée si je trouve une idée PE, je te proposerais ;)

[2015-03-17 11:20] ET-AD commented on #30
Ok priorité anime attaque PNJ semblable à celle du joueur actuellement.

[2015-03-17 15:41] ET-AD opened #34 "Pourquoi LinkedList exit / adversaries sur Map.java"
Petite question : pourquoi utilise-t-on spécifiquement des LinkedList alors que l'on n'utilise pas les propriétés propres aux LinkedList ?

Je pensais l'avoir modifié mais j'ai du faire mon back up entre temps, je préfère poser la question avant de modifier de nouveau.

Map.java

//paramètres de classe
private List<Exit> exit;
private List<PNJ> adversaries;

//constructor
this.exit = new LinkedLis

[2015-03-17 16:46] ET-AD commented on #30
J'ai fait une attaque automatique PNJ à chaque attaque du joueur.
RSA: 292dd149a8fdad0d069f665099990706a92b9eac

Il manque l'animation. Je ne suis pas expert photoshop.
Faut il :
- une animation du PNJ en train d'attaquer

ou
- une boule de feu.png (déjà existant) par dessus l'image du joueur suffit ?

EDIT : en y repensant il serait mieux de faire une animation sur le PNJ plutôt que cumuler les i

[2015-03-17 17:05] florentvitse commented on #30
D'abord la logique, on attaque, le joueur se met en combat, on ne peut plus bouger, on attaque, le pnj attaque jusqu'a ce que l'un des 2 meurent, decrementation des points etc fonctionnelles, on voit apres pour les animations 😉

[2015-03-18 08:36] ET-AD commented on #30
Si j'ai bien compris, tu veux que je rajoute le fait que le joueur ne puisse plus bouger une fois le combat commencé, c'est bien ça ?

[2015-03-18 08:45] florentvitse commented on #30
Oui on n'avait pensé comme ça avec PE & l'attribut isMobile existe déjà dans la classe.

[2015-03-18 08:49] e-adriansen commented on #30
Ok je m'occupe de ça cet aprem.

[2015-03-18 14:53] ET-AD commented on #30
Ok je m'occupe de ça cet aprem.

EDIT :
En fait c'est plutôt la partie Player de PE quand j'y pense.
Peut être mieux que je le laisse faire, j'essaie de ne plus déborder sur vos parties.

[2015-03-18 16:42] ET-AD commented on #30
J'ai créé une première arène. Si l'on a pas le temps de finir j'annule le commit. c'est bien ça ?

EDIT : Ou c'est peut être trop tôt ? finir d'abord la version statique ?
PS : version statique il manque juste animation (visuel) PNJ et bloquer le Joueur...

EDIT 2 : J'annule mon commit le temps que l'on en discute.

[2015-03-18 16:51] caronpe commented on #30
Tu peux modifier  ce que j'ai écris mon code ne  m appartient pas. Il faut juste pas effectuer la même tâche que moi au même moment ^^ . Donc fais toi plaisir ;-)
Pour l arène soir tu as fini l attaque des pnj et dans ce cas tu ferme cette issue et tu en crée une  nouvelle soir je te conseille de finaliser tout  travail avant de te lancer dans une  nouveau gros morceau

[2015-03-18 16:52] caronpe commented on #30
(Fhievevjfjkdicejdhcdodg de  t9 de m****)

[2015-03-18 17:57] florentvitse commented on #34
De quelle propriété propre parles-tu ?
LinkedList<T> est préférable à ArrayList<T> quand on ne fait que parcourir les éléments, l'Array... est préféré quand on fait de multiples insertions/suppressions.

Le prof l'avait expliqué en télégroupe il me semble.

[2015-03-18 23:11] cdlm commented on #34
@florentvitse c'est l'inverse, `LinkedList` est meilleur pour les insertions/suppressions, `ArrayList` pour les accès par indices.

Il me semble avoir vu qu'originalement les variables étaient typées `LinkedList` au lieu de `List`. En tout cas c'est comme ça que je comprends la question de @e-adriansen: le type statique devant être le type nécessaire et suffisant pour écrire le code utilisateur de

[2015-03-19 08:02] florentvitse commented on #34
Ah je croyais que LinkedList s’apparentait à une liste chainée et que c'était plus facile de la parcourir (car finalement nous, dans notre programme, on ne fais que la parcourir du début à la fin sans se soucier des indices mais je ne pense pas que pour stocker 3-4 objets, il n'y ai de différence au niveau du temps d’exécution)

[2015-03-19 10:19] caronpe commented on #28
Bon il n'y a plus réellement de dev sur cette partie issues. Il manque juste les animations d'attaque selon la direction du personnage (que du photoshop quoi) je ferai ça cette aprem tout en suivant  le cours.
Je ferme donc l'issue

[2015-03-19 10:20] #28 closed, assigned to caronpe

[2015-03-19 10:23] caronpe commented on #13
Je vais je pense commencer les bonus de PV, ce sera de simple cœurs posés sur la map qui augmenteront de 10 les pv du joueur lorsqu'il passe dessus.

[2015-03-19 10:27] florentvitse commented on #13
Ça reprendera la même logique des monstres sauf qu'ils seront pas bloquant, qu'il faut genre appuyé sur la touche E pour les ramasser et qu'ils disparaissent ensuite en augmentant la vie du personnage c'est ça ?

[2015-03-19 10:30] caronpe opened #35 "Création de bonus de vie"

[2015-03-19 10:33] caronpe commented on #13
Non plutôt la logique de élément, tu passe dessus et ça déclenche le mécanisme (comme exit).
Je pense que ce dont tu parles serais plus cool à faire avec des coffres à ouvrir par exemple. (Pourquoi pas ma prochaine tâche)

[2015-03-19 10:41] florentvitse commented on #13
Ah d'accord on passe dessus et ça ramasse automatiquement okay :) @Overrider une méthode abstraite dans la classe Exit et la nouvelle classe me semble pas mal en passant le player en @param et en renvoyant la carte (je donne des pistes)

EDIT : Pense à mettre une petite phrase avec une tempo ça peut être pas mal :)

[2015-03-19 10:44] florentvitse commented on #13
Je vais m'assigner la nouvelle tâche de gérer la fin du jeu, proposition de réflexion/validation :
   - Quand on meurt, affichage d'un écran noir avec un message et affichage d'un résumé de la progression ? [Car je sens que ça va être dur de relancer le jeu de zéro sans recompilation]
    - Si on a tous combattu, on arrive à la fin de la quatrième carte et on est félicité par un écran de crédit av

[2015-03-19 10:44] florentvitse opened #36 "Fins du jeu"
- Quand on meurt, affichage d'un écran noir avec un message et affichage d'un résumé de la progression ? [Car je sens que ça va être dur de relancer le jeu de zéro sans recompilation]
- Si on a tous combattu, on arrive à la fin de la quatrième carte et on est félicité par un écran de crédit avec nos noms.

[2015-03-19 10:57] #29 closed, assigned to florentvitse

[2015-03-19 10:58] ET-AD commented on #28
Je sais pas s'il y a moyen de le faire pour les PNJ.
flo en a parlé dans #30 version sans arène.. quoi que l'on peut toujours le réutiliser pour version avec arène..
Bref si tu maîtrise photoshop, peux-tu jeter un œil à animer les attaques/morts des PNJ stp?
- Attaque : je n'ai pas d'idée pour représenter
- Mort : peut être créer une explosion par dessus ou couper la tête (lol),etc... avant que le

[2015-03-19 11:17] cdlm commented on #34
Dans les deux cas c'est la même boucle, donc ce n'est ni plus facile ni plus difficile… la différence est dans la complexité des opérations et dans la localité en mémoire, mais comme vous dites ça n'est probablement pas visible sur des collections de moins de 10 éléments.

[2015-03-19 13:14] caronpe commented on #36
je suis d'accord avec le concept! Par contre de quelle compilation parles tu?

[2015-03-19 14:38] ET-AD commented on #13
pourrait être bien de faire des "Bulles de texte"

![images](https://cloud.githubusercontent.com/assets/10976583/6732735/faf72d10-ce4d-11e4-9208-85b014ebb77f.jpg)

[2015-03-19 14:40] caronpe commented on #13
Moi je dis why not!

[2015-03-19 17:53] caronpe opened #37 "modification du skin du personnage et des anims attaques"
Je vais modifier notre personnage en utilsant un spitesheet contenant plus d'image (pour que j'ai pas à en créer sinon c'est trés long...).
J'en profite pour modifier la position des animations joueur (vu qu'il n'y aura qu'un)

[2015-03-19 17:56] caronpe commented on #37
Bon en fait je vais peut être pas modifier la position de l'anim pour le personnage (perte de temps et c'est plutot bien codé pour le moment).

[2015-03-19 18:48] caronpe commented on #37
Voila modif effectué (ça claque au combat)!

[2015-03-19 18:48] #37 closed, assigned to caronpe

[2015-03-19 19:15] caronpe commented on #30
Bon je vais créer plusieur Issues parceque celle-ci devient trop grosse et c'est impossible à gérer.

[2015-03-19 19:16] caronpe opened #38 "Création d'un arêne"
Création et installation de la map

[2015-03-19 19:21] caronpe opened #39 "Création d'un de l'entrée et sortie d'Arêne"
Création de l'entrée d'arêne suite à l'attaque du PNJ, sortie à la mort du PNJ

[2015-03-19 19:21] caronpe commented on #39
Et suppr de son cadavre lors de la sortie

[2015-03-19 22:53] #39 closed, assigned to caronpe

[2015-03-19 22:54] caronpe commented on #38
Bon j'ai corrigé ce qui ne fonctionnait pas donc au final l'arêne est fini

[2015-03-19 22:54] #38 closed, assigned to nobody

[2015-03-20 08:15] florentvitse commented on #36
Je voulais kill le process pour le relancer lol mais ça ne sera pas cette solution finalement je pense :)

[2015-03-20 09:46] florentvitse opened #40 "GROS CHANGEMENT"
Application du Tutoriel 15

![](http://i.imgur.com/RxCMWCg.jpg)

[2015-03-20 09:48] florentvitse commented on #40
Comme vous pouvez le voir sur la photo, voici la nouvelle archi que je vais devoir mettre en place pour mettre en place une 'FIN' donc comme c'est facile, je vais essayer de rien casser pour mettre en place la fin et ensemble après ça serait bien d'appliquer le modèle pour votre arène si VRAIMENT on a le temps 😉

[2015-03-20 13:11] caronpe commented on #40
Bah vu ce que j'ai fait hier tu peux ne pas séparer l arène et les map tout fonctionne sans pB!

[2015-03-20 13:33] florentvitse commented on #40
C'est bien ce que je pensais puis vu qu'on a pas le temps, avez-vous touché à l'affichage des HUDs vu que maintenant il ne doivent apparaître que dans l’arène ?
Si non, je vais m'en occuper également.

[2015-03-20 13:43] caronpe commented on #40
Tu peux me dire ce qu est un hud?  J ail vu ça dans le code mais j ai pas regardé précisément

[2015-03-20 14:17] florentvitse commented on #40
Le HUD c'est l'affichage de la vie (les barres en bas) je viens de tester le code et non il n'est plus pris en charge à voir.

[2015-03-20 14:22] florentvitse opened #41 "BUG Arène"
Je viens de tester l'attaque dans une arène et j'y est trouvé un bug, explication du comportement, quand on appuie sur ESPACE et que l'on veut combattre (devant un monstre), quand l'arène s'affiche (la première fois ça va le bug n'est pas présent) mais les autres fois, l'arène s'affiche et l'animation sur le monstre survient rapidement alors que l'on est encore loin de celui-ci.

[2015-03-20 14:22] #34 closed, assigned to nobody

[2015-03-20 14:23] caronpe commented on #40
Haaaaaaaa oui dsl j avais oublié.
Pour la vie je suis pas sûre qu il soit plus pris en charge. J ai juste suppr l attaque du pnj à chaque attaque du joueur (sinon je me faisais kill contre les mobs :-(  )

[2015-03-20 14:23] florentvitse commented on #30
Le personnage est vraiment petit à mon goût, c'est temporaire où ?

[2015-03-20 14:24] caronpe commented on #41
Yes j avais aussi détecté le bug mais j ai oublié de le corriger  je fais ça de suite

[2015-03-20 14:25] caronpe commented on #30
(Pas la bonne issue) on va essayer de laisser celle ci uniquement pour les attaques pnj sinon on avancera pas sur ce point.

[2015-03-20 14:43] caronpe opened #42 "Taille des personnages"
J'ai crée le sprite sheet pour des personnages de 40x50 px. je peux le redimentionner et le faire grandir si vous préférez ^^

[2015-03-20 14:51] florentvitse commented on #42
Moi je le verrais bien comme avant en tout cas il faudrait pour la 'beauté' du jeu qu'il soit de taille 32_32 car cela correspond aux casses ainsi le déplacement reste lisse comme avant de la case de départ à la case d'arrivée.
Après libre à toi de jouer avec la transparence, juste qu'il soit centré sur un carré 32_32 :)

[2015-03-20 14:54] florentvitse commented on #40
Pas grave, je le remettrai juste quand la carte 'arène' est en marche, normalement comme les deux méthodes prennent en argument soit le joueur, soit le monstre (à mettre dans une seule méthode d'ailleurs (I'll see this later)) vous n'avez pas à vous souciez de l'affichage, juste à bien gérer leurs points de vie.

[2015-03-20 14:54] florentvitse commented on #40
JE VIENS D'APPLIQUER LE GROS CHANGEMENT, PULLER BIEN avant de continuer vos développements.

[2015-03-20 15:00] caronpe commented on #42
Je suis d'accord! je pensais que le rendu serait meilleur que ça. je vais redimensionner de suite.

[2015-03-20 15:03] cdlm commented on #40
HEIN? AH PARDON J'AI CRU RECONNAÎTRE UNE VOIX FAMILIÈRE…
![RIP Sir Pratchett](http://upload.wikimedia.org/wikipedia/en/b/b9/Death_Discworld.png)

[2015-03-20 15:31] florentvitse commented on #40
???

[2015-03-20 15:33] caronpe commented on #40
#trololo ^^
Le virage a été négocié sans trop de problème ;-)

[2015-03-20 15:34] caronpe commented on #42
Redimensionnement effectué donnez moi vos avis!

[2015-03-20 15:56] #41 closed, assigned to caronpe

[2015-03-20 16:04] caronpe opened #43 "passage map1-2"
Depuis moins d'une semaine le passage à la map 2 est très long lors du premier franchissement. Une explication?

[2015-03-20 16:07] florentvitse commented on #43
C'est le chargement de la seconde musique qui prend ce temps là, si on la désactive ça fonctionne bien, d'ailleurs on devrait pas arriver sur la sortie mais juste une case devant si tu pouvais faire le changement :)

[2015-03-20 16:12] caronpe opened #44 "Objet Déclencheur"
Je vais mettre en place les bonus de vie (et surement les pièges au passage).
Je suis pas super convaincu du fonctionnement de nos Exits actuelles, au final elles ne sont là que pour stocker des positions mais elles n'effectuent pas la sortie elle même.

Ma proposition est donc d'appliquer ce qu'on a vu au cours de jeudi en affectant une liste d'objet déclencheur dans la map. (ces objets pouvant ê

[2015-03-20 16:16] florentvitse commented on #44
Tout a fait d'accord, dès que tu as trouvé la solution, (si tu peux avant de coder sinon ce n'est pas grave) l'expliquer car ça m'intéresse beaucoup ce pattern 😉

[2015-03-20 16:19] florentvitse commented on #44
Car sinon on peut créer une interface et redéfinir les méthodes qui porteront le même nom à chaque fois et profiter de l'exécution retardée de Java 😉

[2015-03-20 16:29] caronpe commented on #43
music.setBackgroundMusic(map.get(indexMap).getMusicFilename());

[2015-03-20 16:34] caronpe commented on #44
Bah c'est codé maintenant ^^ (dsl je suis en forme ces derniers jours...)
Tu as bien deviné,
J'ai crée une class abstraite Trigger héritant de Element,
celle ci contient une fonction abstraite action().
Je réutilise le code déjà codé en plaçant des trigger à la place des Exit. sachant que j'appelle dessus sa fonction action() (peu importe si c'est un bonus ou une Exit elle fait son travail tranqui

[2015-03-20 16:37] florentvitse commented on #43
Voilà beaucoup d'appels de fonction

[2015-03-20 16:57] caronpe commented on #35
Il ne manque plus que l'affichage sous la forme d'un gros coeur

[2015-03-20 16:58] #44 closed, assigned to caronpe

[2015-03-21 10:57] florentvitse commented on #43
Pour la musique, on réglera ça à la fin, vu que maintenant il y a plusieurs "états" il faut que je repense p-e l'implémentation, bref !

[2015-03-21 10:59] florentvitse commented on #42
Ça me va presque bien :p je chipote mais reste du blanc autour du personnage (pourquoi pas le garder quand il prend un bonus style aura du joueur ^^) et j'ai comme une vague impression qu'il est légèrement étiré sur la hauteur mais sinon bon boulot !

[2015-03-21 11:01] florentvitse commented on #40
C'est bon c'est tout bon, on effectue le changement de state avec la touche '8' du clavier numérique, vous pouvez tester.
Je ferme l'issue

[2015-03-21 11:01] #40 closed, assigned to florentvitse

[2015-03-21 11:03] florentvitse commented on #13
Dans l'affichage de l’arène, il faudrait rajouter ces lignes là pour afficher le HUD du monstre.
Je laisse la personne responsable le soin de les incorporer au bon endroit (j'ai pas envie de chercher enfaite ^^)

[code]

[2015-03-21 11:03] florentvitse commented on #13
Pour l'affichage des bulles, je fais ça ! (J'ai tout l'algo en tête là :p)

[2015-03-21 11:04] florentvitse opened #46 "Affichage de bulles de texte"

[2015-03-22 18:03] florentvitse commented on #46
J'ai fait l'affichage des info-bulles qui rend pas mal je trouve, je dois juste trouver la solution pour bien les afficher, j'ai encore un petit bug là-dessus mais sinon donnez-moi votre avis.

Et petite question, vous voudriez que l'affichage soit centré si la phrase n'est pas aussi longue que l'exemple ou c'est l'info-bulles qui devrait être réduite ?

[2015-03-23 09:26] florentvitse commented on #46
J'ai amélioré l'affichage du texte avec un affichage lettre par lettre comme si on écrivait la phrase en direct, ça rend 'extra' je trouve donc faudrait vraiment l'utiliser dans les phases du jeu que vous codées.

[2015-03-23 09:32] florentvitse commented on #35
Je viens de regarder ton code et la classe Trigger, elle ne devraient pas être plutôt une interface vu qu'elle n'implémente pas de nouveaux attributs mais juste la méthode action() ?

[2015-03-23 09:33] florentvitse commented on #42
Dans la classe AnimationView,

animation.draw(player.getPosition().getAbsciss() - 15, player.getPosition().getOrdinate() -22);

Ces valeurs en dur, 15 et 22 correpondent à quoi ?

[2015-03-23 09:38] florentvitse commented on #35
Je cherchais des images de coeur pour toi et je me suis aperçu qu'enfaite, une image style de potion serait bien mieux ? Qu'est ce que tu en penses ?

https://www.google.fr/search?q=potion+png+32&espv=2&biw=1920&bih=979&tbm=isch&source=lnt&tbs=isz:ex,iszw:32,iszh:32

Notamment, cella là  : http://shotbow.net/forum/images/health_potion.png

[2015-03-23 11:58] caronpe commented on #42
C'est la différence de taille entre la taille d une tuile et la taille d une case dans le Sprite sheet (ça centre le personnage sur sa case)

[2015-03-23 12:12] florentvitse commented on #42
Okay :)

[2015-03-23 13:43] #11 closed, assigned to nobody

[2015-03-23 14:17] ET-AD commented on #46
Rendu vraiment sympa !

[2015-03-23 14:32] florentvitse commented on #13
Petite question, vous voudriez que l'affichage soit centré si la phrase n'est pas aussi longue que l'exemple ou c'est l'info-bulles qui devrait être réduite ou on laisse comme ça ? (Sinon je n'ai plus rien à faire)

![sans titre 1](https://cloud.githubusercontent.com/assets/9799077/6782012/c38adf4e-d171-11e4-8069-6eee7967b733.jpg)
![sans titre 2](https://cloud.githubusercontent.com/assets/9799077/

[2015-03-23 14:41] ET-AD commented on #13
Je laisserai comme cela perso.

[2015-03-23 14:55] ET-AD commented on #39
J'ai du mal à suivre, je pensais que j'avais fait  #38 #39 lors du RSA: aab5ba5486af1ce83f5c20613412f19dd4166c82

[2015-03-23 15:01] ET-AD commented on #39
Ok c'est du refactoring (désolé y a beaucoup de commits et d'issues en peu de temps en ce moment).

Précise refactoring dans tes commits, c'est plus simple pour relire ensuite car y a tellement de commits d'un coup lol

[2015-03-23 15:47] ET-AD commented on #39
Je ne suis pas sur que cela doit être PNJ qui déclenche le changement de map. J'avais à terme imaginé les triggers dans Map un peu comme Exit (et même regrouper Exit et trigger car une Exit est un trigger selon moi).

Mais on n'a peut être pu vraiment le temps pour tout ça. C'est pas faux ce que tu as fait loin de là, mais je l'avais imaginé autrement.

[2015-03-23 15:55] caronpe commented on #39
J'ai changé pour que le personnage déclenche le combat en tapant sur le PNJ, c'est plus sympa que de se faire téléporter en passant devant et surtout plus facile à gérer dans la déclaration des trigger pour aller dans l’arène.
En effet chaque PNJ se charge de t’emmener dans l’arène avec lui, et de te ramener à sa position une fois mort.

Pour les Trigger-Exit j'ai fait cette modification jeudi.

[2015-03-23 15:55] #42 closed, assigned to caronpe

[2015-03-23 15:59] caronpe commented on #36
Non c'est un peu bourrin. (petite précision, quand tu relances le programme tu n'effectues pas la compilation mais l'exécution du programme. Sous éclipse la compilation s'effectue au fur et à mesure de l'écriture du programme. Je sais pas si c'était une erreur de vocabulaire donc je précise ^^)

[2015-03-23 16:35] ET-AD commented on #35
J'ai apporté quelques modifications pour afficher du texte et reprendre la classe Item

RSA: 5d034b93086a3aee79ddc2f40f4e45e4724a7b34

[2015-03-23 16:37] caronpe commented on #13
Attention Etienne on travaille ensemble sur la même partie au même moment et rien ne me l'indique sur git!?

[2015-03-23 16:41] ET-AD commented on #35
C'est dommage que lorsque le texte s'affiche ça cache la barre de vie.
Le must aurait été de voir la barre de vie augmenter et pour ça peut être centrer le texte comme proposé @florentvitse
#46

C'est du chipotage, car perso je suis super content du rendu.

[2015-03-23 16:44] caronpe commented on #35
Oublies pas de déclarer des modification AVANT de les faire. (Au passage l'affichage du texte est cool ;-)  )
Pour l'affichage de la barre de vie c'est effectivement du chipotage même si je préfère personnellement voir la vie augmenter dans la barre que voir le texte s'afficher...

[2015-03-23 16:45] caronpe commented on #35
Par contre je suis vraiment pas convaincu de l'utilité de la class Item (voir ma remarque sur ton commit).

[2015-03-23 16:46] caronpe commented on #35
Je ferme cette Issue car les Bonus de vie sont "fini" rouvrir une issue en cas de modification.

[2015-03-23 16:46] #35 closed, assigned to caronpe

[2015-03-23 16:49] caronpe commented on #30
Je prend la décision de fermer cette Issue car elle nous bloque dans le développement du jeu. Elle est bien trop large et abandonné par tous! On va redécouper ça sur #13

[2015-03-23 16:49] #30 closed, assigned to ET-AD

[2015-03-23 16:52] caronpe opened #47 "Question de goût"
J'ouvre cette Issue pour poser toutes les questions qui ne sont pas liées à la répartition des tâches dans l'équipe:
ex:  La tête du jeu? L'affichage des textes? Votre avis sur la nouvelle 3DS XL?

Le but est de clarifier #13

[2015-03-23 17:01] caronpe commented on #13
Bon on commence à arriver au bout de ce qu'on avait imaginé.
Il manque surtout à mon goût l'attaque des PNJ (parce que taper sur un bot qui bouge pas et attaque pas c'est pas marrant 2 seconde).
Je suis donc d'avis qu'on s'y intéresse:
Je pense que les étapes peuvent être divisées comme ceci:
- faire déplacer le PNJ (aléatoirement)
- le faire se diriger vers le joueur,
- le faire attaquer quand le

[2015-03-23 17:23] ET-AD commented on #13
On oublie les attaques à distance ou c'est prévu pour plus tard ?

[2015-03-23 17:29] caronpe commented on #13
On commence par le début puis améliore le concept

[2015-03-23 17:31] florentvitse commented on #13
Il nous reste une semaine, je suis d'accord qu'il faut améliorer l'arène avec les mouvements des PNJ mais je pense que ce sera tous car n'oubliez pas, à chaque fois que l'on fait un truc il peut y avoir des bugs récalcitrant, un ; qu'on met 2h à trouver lol donc limitez-vous, je suis d'avis de laisser tomber les attaques à distances car cela inclus beaucoup de calculs ;)

[2015-03-23 17:34] florentvitse commented on #47
Pour les barres de vie, etc, si vous avez compris mes questions, c'était pour ça que je demandais comment devais être les bulles-infos sachant qu'on peut également les déplacer.

[2015-03-23 17:37] caronpe commented on #47
Ok perso j'avais pas pensé à la barre de vie en dessous.  Limite tu peux faire la modification dont tu as parlé (taille de la fenêtre de texte qui s adapte)

[2015-03-23 17:54] florentvitse commented on #47
Oui ou je viens de penser à ça maintenant, Mettre les info-bulles à la droite des barres de vie.
Style

| Viiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiie |      | INFO-BULLE : Texte.......................................... |

<-                                        Taille de la fenêtre                                         ->

EDIT : C'est fait et c'est vrai que voir la vie s'augmenter c'est :+1: :tada:

[2015-03-23 18:15] ET-AD commented on #47
Nice ! ;)

[2015-03-24 15:59] ET-AD opened #48 "Player trop grand quand regarde vers le bas"
J'imagine qu'il suffit de réduire l'image.
Si je me trompe et que c'est trop compliqué, ce n'est pas grave, c'est du détail.

![image](https://cloud.githubusercontent.com/assets/10976583/6806077/ee6cc328-d246-11e4-8b58-a4957b4d4163.png)

[2015-03-25 08:00] florentvitse commented on #36
Pour proposer l'option "Re-jouer" direct sans quitter le programme, il faut faire une méthode de remise à zéro de tous ce qui a pu être modifié (attributs, monstres) <=> 'refaire' la méthode init() de la classe MapGameState est appeler celle-ci pour la première fois dans l'init() et quand on veut réessayer.

Est-ce que l'on implémente cette possibilité ? @caronpe @e-adriansen

[2015-03-25 14:52] e-adriansen commented on #36
Cela posera un problème avec le changement d'indexMap par PNJ

[2015-03-25 15:06] ET-AD commented on #36
Pourquoi ne le ferait on pas ?

J'ai lu ton message ce matin en vitesse (mon temps Telecom est l'après midi) et j'ai cru que tu demandais de l'aide. J'ai codé une version qui fonctionne. Ce que j'ai fait semble être exactement ce que tu décris et cela fonctionne parfaitement.

Je ne comprends pas ce qui te fais hésiter. @florentvitse
PS : je ne push pas si tu as déjà développé une version qui fonc

[2015-03-25 15:38] caronpe commented on #36
si c'est facile ne te prive pas ;-) . Je pense qu'il suffirait de suppr les suppr le contenu de nos variables dans MapGameState et de refaire tourner la fonction init non?

[2015-03-25 15:39] caronpe commented on #48
c'est pas super compliqué mais ça prendra du temps. Je te fait ça avant la fin du projet ;-)

[2015-03-25 15:43] caronpe commented on #13
Bon je n'ai qu'une heure cette aprem je vais donc mettre en place des piéges et bonus rapidement (si possible avec des animations pour le style
Je pense attaquer demain les mouvements des personnages

[2015-03-25 15:45] caronpe opened #49 "Création de Bonus et piéges"

[2015-03-25 15:51] ET-AD commented on #49
Pour les pièges j'avais l'idée de faire une case en feu => herbe du jeu mais rouge (à voir le rendu).
Crossable : lorsque le joueur passe dessus -5 pv par exemple.
Juste une idée comme ça.

[2015-03-25 16:06] caronpe commented on #49
Bah je vais tenter un truc plus beau avec un animation (genre les plantes carnivores dans mario)

[2015-03-26 07:40] florentvitse commented on #49
Allez comme ça on aura du décor pokémon, le player Link et des plantes Mario - Interculturalité + 10 :+1:

[2015-03-26 08:58] florentvitse commented on #36
J'ai relu ton code @e-adriansen et j'ai corrigé car tu as mélangé plusieurs concept je pense.
(Regarde les 2-3 avant-avant-derniers commit, tu peux me poser des questions si tu ne comprends pas)

Note : J'avais fait l'accès à la fin par une touche, tu aurais du laisser comme c'était et en choisir une autre comme je l'ai fait dans mon dernier commit pushé ;) - 2 touches pour tester deux choses en a

[2015-03-26 09:46] florentvitse commented on #49
J'ai trouvé ça, ils ont l'air cool - WARN : la transparence n'existe pas sur les images.

![dracofeu](https://cloud.githubusercontent.com/assets/9799077/6843663/5703d7dc-d3a5-11e4-83f8-fb7f502c00f9.png)
![carnivore](https://cloud.githubusercontent.com/assets/9799077/6843664/5707def4-d3a5-11e4-9a5e-2277e764cfb8.png)

[2015-03-26 10:11] florentvitse commented on #47
J'ai essayé de penser les scénarios de combat pour que ça fasse un truc :tada: joli :tada:

Scénario I : Combat avec un PNJ
- On engage le combat (existe déjà)
- On frappe le PNJ
  - ANIMATION DU PLAYER /Épée/ (existe déjà)
  - ANIMATION SUR LE PNJ /Goutte d'eau/ (existe déjà)
    (Remplacer par un scintillement ?)
- Le PNJ réplique
  - ANIMATION DU PNJ (Quoi ?)
  - ANIMATION SUR LE PLAYER (Scinti

[2015-03-26 10:40] caronpe commented on #49
J ai déjà une anim stylé.  J attend juste de régler un pb d algorithmes avant de push
(Mon pb actuel est que j essaye de supprimer le piège de la liste que je  parcoure en même temps)

[2015-03-26 10:45] florentvitse commented on #49
AH d'accord petit pb oui lol

[2015-03-26 15:42] ET-AD commented on #36
@caronpe On ne peut pas refaire tourner la fonction init(). Elle ne peut être appelée qu'une seule fois (propriété de slick2D). La solution étant de transférer le contenu de notre fonction init() dans une méthode de RemiseAZero() appelée une fois dans la fonction init() puis plus tard dans le jeu pour revenir à l'état du début.

@florentvitse Effectivement j'ai mélangé plusieurs concepts, désolé m

[2015-03-26 15:49] ET-AD commented on #47
Je propose une idée supplémentaire également avec un système de "pièges" :

Les cases changent d'état (piège/normal) toutes les demis secondes.
Les cases pièges sont choisies aléatoirement et changent à chaque cycle de demi seconde.
Le but étant de rejoindre le monstre et le tuer avant qu'il nous tue.

[2015-03-27 08:41] florentvitse commented on #36
J'ai effectué les dernières modifs sur l'écran de fin, celui-ci est désormais terminé, je ferme l'issue.

[2015-03-27 08:41] #36 closed, assigned to florentvitse

[2015-03-27 09:16] florentvitse commented on #49
Une solution possible, stockage de l'index et un remove() derrière à la fin du parcours ;)

[2015-03-27 09:17] caronpe commented on #49
Pas stupide du tout!  Je vais tester ça cette après midi

[2015-03-27 09:29] florentvitse commented on #49
Carrément arrêter la boucle quand tu l'as trouvé (break) puis supprimer l'élément 'i' si tu as utilisé une variable d'itération est une possibilité également ;)

[2015-03-31 08:57] #43 closed, assigned to nobody

[2015-03-31 09:07] #46 closed, assigned to florentvitse

[2015-03-31 09:07] #48 closed, assigned to caronpe

[2015-03-31 09:07] #49 closed, assigned to caronpe